#nav {
   font-weight: bolder;
   margin: 0px 0px 0px -8px;
   position: fixed;
   top: 0;
   width: 100%;
   padding: 10px;
   background-color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 2.5px;
  color: black;
  font-size: 20px;
}

a {
   text-decoration: none;
   color: black;
}

#words {
  font-weight: bolder;
  margin: 0px 0px 0px -8px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  background-color: #fff;
  font-family: monospace;
  color: black;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
  background: #10EFB4;
}
