body {
   text-align: center;
   background: rgba(0,116,217,1);
   background-image: linear-gradient(to right, #c6c2c2 , #63bae9);
}

#nav {
   font-weight: bolder;
   margin: 0px 0px 0px -8px;
   position: fixed;
   top: 0;
   width: 100%;
   padding: 10px;
   background-color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 2.5px;
  color: black;
  font-size: 20px;
}

a {
   text-decoration: none;
   color: black;
}

#words {
  font-weight: bolder;
  margin: 0px 0px 0px -8px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  background-color: #fff;
  font-family: monospace;
  color: black;
  transition: font-size 2s;
}

#words:hover {
  font-size: 15px;
}

/*
::-webkit-scrollbar {
    display: none;
}
*/

::selection {
  background: #10EFB4;
}

/* Modal Styles */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  font-size: 20px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
