body {
   text-align: center;
   background: rgba(0,116,217,1);
   background-image: linear-gradient(to right, #c6c2c2 , #63bae9);
}



#nav {
   font-weight: bolder;
   margin: 0px 0px 0px -8px;
   position: fixed;
   top: 0;
   width: 100%;
   padding: 10px;
   background-color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 2.5px;
  color: black;
  font-size: 20px;
}

a {
   text-decoration: none;
   color: black;
}

#words {
  font-weight: bolder;
  margin: 0px 0px 0px -8px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  background-color: #fff;
  font-family: monospace;
  color: black;
  transition: font-size 2s;
}

#words:hover {
  font-size: 15px;
}

/*
::-webkit-scrollbar {
    display: none;
}
*/

::selection {
  background: #10EFB4;
}
